<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoAway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoAway.Properties.Settings>
            <setting name="AwayAfter" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RunCmds" serializeAs="String">
                <value>notepad.exe;calc.exe</value>
            </setting>
            <setting name="HTTPPostURL" serializeAs="String">
                <value>http://isengard.me.lan:5000</value>
            </setting>
            <setting name="AwayMessage" serializeAs="String">
                <value>Ute av kontoret</value>
            </setting>
            <setting name="activate_httppost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="active_runCmds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAwayMessage" serializeAs="String">
                <value>Jeg er straks tilbake!</value>
            </setting>
        </AutoAway.Properties.Settings>
    </userSettings>
</configuration>